:root {
  box-sizing: border-box;

  /*PORTADA*/
  --bgcolorportada: #f1cc00;
  --fontcolorportada: #262626;
  --primarycolorportada: #f0532c;
  /*DAVIDLAVA*/
  --bgcolordavidlava: linear-gradient(
    180deg,
    hsl(0deg 0% 9%) 0%,
    hsl(344deg 0% 8%) 18%,
    hsl(344deg 0% 7%) 40%,
    hsl(344deg 0% 6%) 63%,
    hsl(344deg 0% 6%) 80%,
    hsl(344deg 0% 5%) 90%,
    hsl(344deg 0% 3%) 96%,
    hsl(344deg 0% 2%) 99%,
    hsl(344deg 0% 1%) 100%,
    hsl(0deg 0% 0%) 100%
  );
  --fontcolordavidlava: #cbe9ff;
  --primarycolordavidlava: #5ce1e6;

  /*LINEAL*/
  --bgcolorlineal: linear-gradient(
    180deg,
    hsl(217deg 63% 11%) 0%,
    hsl(217deg 67% 10%) 0%,
    hsl(217deg 73% 9%) 0%,
    hsl(218deg 80% 8%) 1%,
    hsl(218deg 89% 8%) 3%,
    hsl(220deg 100% 7%) 7%,
    hsl(224deg 100% 7%) 13%,
    hsl(229deg 100% 6%) 25%,
    hsl(235deg 100% 6%) 48%,
    hsl(0deg 0% 0%) 100%
  );
  --fontcolorlineal: #fcf0e9;
  --primarycolorlineal: #a8d980;

  /*ANTES DE QUE TE MUERAS*/
  --bgcolorantesdequetemueras: linear-gradient(
    180deg,
    hsl(249deg 75% 12%) 0%,
    hsl(250deg 80% 12%) 0%,
    hsl(252deg 86% 11%) 1%,
    hsl(254deg 93% 10%) 2%,
    hsl(255deg 100% 10%) 5%,
    hsl(254deg 100% 10%) 8%,
    hsl(254deg 100% 9%) 14%,
    hsl(253deg 100% 9%) 22%,
    hsl(252deg 100% 9%) 36%,
    hsl(0deg 0% 0%) 85%
  );
  --fontcolorantesdequetemueras: #fff7fb;
  --primarycolorantesdequetemueras: #fedd59;

  /* SER GRANDE */
  --bgcolorsergrande: linear-gradient(
    180deg,
    hsl(28deg 90% 8%) 0%,
    hsl(28deg 100% 7%) 0%,
    hsl(25deg 100% 7%) 1%,
    hsl(21deg 100% 7%) 2%,
    hsl(16deg 100% 6%) 5%,
    hsl(11deg 100% 6%) 8%,
    hsl(5deg 100% 6%) 14%,
    hsl(0deg 100% 6%) 22%,
    hsl(0deg 100% 5%) 36%,
    hsl(0deg 0% 0%) 85%
  );
  --fontcolorsergrande: #fff7fb;
  --primarycolorsergrande: #ff1616;
}

body {
  margin: 0;
  padding: 0;
}

.container-programa,
.container-obra,
.container-portada {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.container-portada {
  height: 100%;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--bgcolorportada);
  color: var(--fontcolorportada);
}
.container-obra,
.container-portada {
  padding: 1rem;
  width: 100%;
}
.container-portada p {
  font-weight: 400;
}
.container-portada .portada img {
  width: 250px;
  padding: 1rem;
}

.container-botonObra {
  margin: 1rem 0;
  width: 250px;
}
.container-botonObra img {
  width: 100%;
  border-radius: 20px;
}
.container-title {
  padding: 1rem;
  max-width: 400px;
}
.container-title img {
  max-width: 300px;
}
.container-sinopsis {
  max-width: 400px;
  padding: 0 1rem;
}
.container-trabajo {
  margin-bottom: 2rem;
}
.container-trabajo h3 {
  margin: 1rem;
  font-size: 1.4rem;
}

.container-persona {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-persona p {
  margin: 0.5rem 0;
}
.container-persona a {
  margin-left: 0.5rem;
  color: var(--fontcolordavidlava);
  position: relative;
  top: 0.1rem;
}

.container-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
}
.container-logo {
  margin: 2rem 0;
  width: 100%;
}
.container-logo img {
  max-width: 300px;
  border-radius: 20px;
}

.ensaladailusa-logo {
  border-radius: 20px;
}
.ensaladailusa-logo img {
  width: 250px;
  padding: 1rem;
}

/* LINEAL */

.container-obra.lineal {
  background-image: var(--bgcolordavidlava);
  color: var(--fontcolorlineal);
}
.lineal .container-trabajo h3 {
  color: var(--primarycolorlineal);
}
.lineal .ensaladailusa-logo {
  background-color: var(--primarycolorlineal);
}
.lineal .container-persona a {
  color: var(--fontcolorlineal);
}

/* DAVID LAVA */

.container-obra.davidlava {
  background-image: var(--bgcolordavidlava);
  color: var(--fontcolordavidlava);
}
.davidlava .container-trabajo h3 {
  color: var(--primarycolordavidlava);
}
.davidlava .ensaladailusa-logo {
  background-color: var(--primarycolordavidlava);
}
.davidlava .container-persona a {
  color: var(--fontcolordavidlava);
}
/* ANTES DE QUE TE MUERAS */

.container-obra.antesdequetemueras {
  background-image: var(--bgcolorantesdequetemueras);
  color: var(--fontcolorantesdequetemueras);
}
.antesdequetemueras .container-trabajo h3 {
  color: var(--primarycolorantesdequetemueras);
}
.antesdequetemueras .ensaladailusa-logo {
  background-color: var(--primarycolorantesdequetemueras);
}
.antesdequetemueras .container-persona a {
  color: var(--fontcolorantesdequetemueras);
}

/* SER GRANDE */

.container-obra.sergrande {
  background-image: var(--bgcolorsergrande);
  color: var(--fontcolorsergrande);
}
.sergrande .container-trabajo h3 {
  color: var(--primarycolorsergrande);
}
.sergrande .ensaladailusa-logo {
  background-color: var(--primarycolorsergrande);
}
.sergrande .container-persona a {
  color: var(--fontcolorsergrande);
}
